<form name="loginForm" class="form-signin" novalidate ng-submit="loginForm.$valid && login.authenticate(formData)">
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class="form-group">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="formData.email"/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password"  name="inputPassword" ng-model="formData.password" id="inputPassword" class="form-control" placeholder="Password" required/>
    <div class="checkbox">
      <input type="checkbox" value="remember-me" ng-model="formData.remember"> Remember me
    </div>
    <button class="btn btn-primary" type="submit">Sign-in</button>
  </div>
  <a href="/forgot">Click here to <b>change/reset your password</b></a>

  <span class="help-block" ng-show="wrong">Wrong username or password.</span>
    
  <span class="row">
    Please<a ng-href="/register"> make an account</a> if you do not have one.<br/>
  </span>
</form>
