<div ng-show="papers.length">
    <div class="thumbnail">
        <div class="caption-full">
            <h5><a href="#">Product Name</a>
            </h5>
            <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
            <p>Want to make these reviews work? Check out
                <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
            </strong>over at maxoffsky.com!</p>
            
        </div>
        <div class="ratings">
            <p class="pull-right">3 reviews</p>
            <p>
                <a><i class="fa fa-file-pdf-o"></i> Read full text.</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="thumbnail">
        <div class="caption-full">
            <h5><a href="#">Product Name</a>
            </h5>
            <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
            <p>Want to make these reviews work? Check out
                <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
            </strong>over at maxoffsky.com!</p>
            
        </div>
        <div class="ratings">
            <p class="pull-right">3 reviews</p>
            <p>
                <a><i class="fa fa-file-pdf-o"></i> Read full text.</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="thumbnail">
        <div class="caption-full">
            <h5><a href="#">Product Name</a>
            </h5>
            <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
            <p>Want to make these reviews work? Check out
                <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
            </strong>over at maxoffsky.com!</p>
            
        </div>
        <div class="ratings">
            <p class="pull-right">3 reviews</p>
            <p>
                <a><i class="fa fa-file-pdf-o"></i> Read full text.</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="thumbnail">
        <div class="caption-full">
            <h5><a href="#">Product Name</a>
            </h5>
            <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
            <p>Want to make these reviews work? Check out
                <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
            </strong>over at maxoffsky.com!</p>
            
        </div>
        <div class="ratings">
            <p class="pull-right">3 reviews</p>
            <p>
                <a><i class="fa fa-file-pdf-o"></i> Read full text.</a>
            </p>
        </div>
    </div>
    <hr>
</div>
<div ng-hide="posts.length" class="no-content">
    No papers to show at this time.
</div>