<style>
    .pull-right {

        margin: 6px;
    }

    .abs {

        margin: 5px;
    }
</style>

<div ng-show="papers.length" class="panel panel-default">
    <div class="panel-heading">
        <h3>List of Papers</h3>
    </div>
    <div class="panel-body">
    <ul class="nav nav-pills">
        <li class="pull-left">
        <a ng-click="previous()">  <i class="fa fa-arrow-left"></i> Previous Page </a>
        </li>

        <li class="pull-right">
            <a ng-click="next()">Next Page <i class="fa fa-arrow-right"></i></a>
        </li>
    </ul>
        <ul class="list-group">
            <li class="list-group-item"  ng-repeat="paper in papers">
               <div class="row">
                <span class="pull-left"><h3  style="margin-left: 20px;">{{paper.title}}</h3></span>
                <span class="pull-right" style="margin-top:20px; text-align: right;">{{paper.aName}}<br/>{{paper.aEmail}}</span>
            </div>
            <div class="row abs">
                <p>{{ paper.abstract }}</p>
            <span class="pull-right" style="margin-top:20px;"><a ng-href="/paper/{{paper.p_id}}"><i class="fa fa-arrow-circle-right"></i>
                Read More</a></span>
            </div>

            </li>
        </ul>
    </div>
</div>
<div ng-hide="papers.length" class="no-content">
    No papers to show at this time.
</div>