<div class="container">
    <div class="row" ng-show="failure">
        <p class="bg-danger"><i class="fa fa-exclamation-circle"></i> An internal error occured, please try reloading this page.</p>
    </div>
    <div ng-show="success">
        <div class="row">
            <div ng-hide="paper">
            <p class="bg-primary"><i class="fa fa-info"></i> You have not submitted any paper/abstract yet.</p>
            </div>
        </div>
        <div ng-show="paper">
            <div class="row">
                <div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="text-center">{{ paper.title }}
                        </h4>
                        <strong>Abstract:</strong><br/>
                        {{paper.abstract}}
                    </div>
                    <div class="ratings">
                        <p class="pull-right">{{paper.reviews.reviews.length}} reviews</p>
                        <p>
                            <a ng-show="paper.link" target="_self" download="{{paper.link}}.pdf" href="/api/paper/download/{{paper.link}}"><i class="fa fa-file-pdf-o"></i> Read full text</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <form ng-submit="addReview(review)" class="form-horizontal"  style="padding: 15px;" name="reviewForm">
                    <div class="form-group">
                        <textarea rows="3" class="form-control" ng-model="review.content"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">submit review</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="well">
                    <div class="row" ng-show="review.content">
                        <div class="col-md-12">
                            {{currentUser.userName}}
                            <span class="pull-right">{{review.rv_date}}</span>
                            <p>{{review.content}}</p>
                        </div>
                    </div>

                    <div ng-repeat="rvw in paper.reviews.reviews | orderBy :-rv_date">
                        <div class="row">
                            <div class="col-md-12">
                                {{ rvw.author }}
                                <span class="pull-right">{{ rvw.rv_date }}</span>
                                <p>{{ rvw.content }}</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>