<form role="register form" name="registerForm" ng-submit="registerForm.$valid && register.Register()" novalidate>
  <legend>Register Form</legend>
  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" id="name" ng-model="formData.name" class="form-control" placeholder="name" required>
    <label for="email" >E-mail: </label>
    <input type="email" ng-model="formData.email" id="email" class="form-control" placeholder="e-mail" required>
    <span class="help-block" ng-show="exists">An account with this e-mail id already exists.</span>
    <label for="passwd" >Password: </label>
    <input type="password" id="passwd" class="form-control" ng-model="formData.password" placeholder="Password" required>
    <label for="cnfpasswd">Confirm Password:</label>
    <input type="password" id="cnfpasswd" class="form-control" ng-model="cnfpass" placeholder="Confirm Password" ng-class="{'ng-invalid': cnfpass !== formData.password}">
    <span ng-show="cnfpass !== formData.password" class="help-block">passwords have to match!</span>
  </div>
  <div class="control-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  <span class="help-block" ng-show="error">{{error}}</span>
  <span class="row">Already have an account? <a ng-href="/login">Login</a></span>
</form>