<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Surgeprotech 2016 | Delegate registration</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
		<noscript>
		<link rel="stylesheet" href="/static/css/skel.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/style-xlarge.css" />
		</noscript>
	</head>
	<body ng-app="delegateApp">
		<!-- Header -->
		<header id="header">
			<h1><strong><a href="/">SURGEPROTECH</a></strong></h1>
			<nav id="nav">
				<ul>
					<li><a href="/"><i class="fa fa-arrow-left"></i> Back to Home</a></li>
				</ul>
			</nav>
		</header>
		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="container">
				<header class="special">
					<h2>Surgeprotech 2016 </h2>
				</header>
				<div class="6u -2u 5u(large) -1u(large)">
					<a href="#" class="image"><img src="/static/img/registraton-banner.jpg" alt="Surgeprotech Banner" /></a>
				</div>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<p>SURGEPROTECH will give an opportunity to participants from various stakeholder groups in the Surge Arrester value chain
					to share their expertise. The tutorial cum conference will also provide detailed insights on various key system components  and their latest technological trends, keeping in mind an end-to-end solutions scenario in the expected smart world. The challenges being faced by different stake holders will be discussed at length to enrich the experience of all the participants, and enchance their knowledge with a real-world approach. This tutorial cum conference is envisaged to benefit utilities, industries, various government bodies and other stake-holders in strengthening their technological choices, while offering them the option to empower and utilize existing infrastructure for a sustainable future.</p>
			</div>
			
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<div class="container">
				<div class="table-wrapper">
					<table class="alt" style="text-align:center;">
						<thead>
							<tr>
								<th style="text-align:center;">Category</th>
								<th style="text-align:center;">Conference/Tutorial per delegate(ONE Day)</th>
								<th style="text-align:center;">Conference and Tutorials per delegate(TWO Days)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>IEEMA Members</td>
								<td>&#x20B9;5000</td>
								<td>&#x20B9;10000</td>
							</tr>
							<tr>
								<td>Non-IEEMA Members</td>
								<td>&#x20B9;6000</td>
								<td>&#x20B9;12000</td>
							</tr>
							<tr>
								<td>Utility/Discoms</td>
								<td>&#x20B9;4000</td>
								<td>&#x20B9;6000</td>
							</tr>
							<tr>
								<td>International</td>
								<td>$200 (USD)</td>
								<td>$300 (USD)</td>
							</tr>
							<tr>
								<td>Student</td>
								<td colspan="2">&#x20B9;2000</td>
							</tr>
						</tbody>
					</table>
				</div>

 For bulk registration, please send an e-mail with the details in the form below to <i><a href="mailto:anita.gupta@ieema.org" target="_top">anita.gupta@ieema.org</a></i>. For single registration please fill the form below.


				<!-- Form -->
						<section ng-controller="formController as form" style="margin-top:20px">
							<h3>Registration Form</h3>
							<form name="registerForm" ng-submit="formSubmit(formData)">
								<div class="row uniform 50%">
									<div class="6u 12u$(xsmall)">
										<input type="text" name="name" id="name" value="" placeholder="Delegate Name" ng-model="formData.name" required/>
									</div>
									<div class="6u 12u$(xsmall)">
										<input ng-model="formData.num" type="text" name="phone" id="phone" value="" placeholder="Mobile Number" required/>
									</div>
									<div class="6u$ 12u$(xsmall)"> 
										<input ng-model="formData.email" type="email" name="email" id="email" value="" placeholder="Email" required/>
									</div>
									<div class="12u$"> 
										<input type="text" ng-model="formData.company" name="company" id="company" value="" placeholder="Company Name" required/>
									</div>
									<div class="12u$">
										<div class="select-wrapper">
											<select name="category" ng-model="formData.category" id="category">
												<option value="">- Category -</option>
												<option value="1">IEEMA Member</option>
												<option value="2">Non IEEMA Member</option>
												<option value="3">Utility/Discom</option>
												<option value="4">International</option>
												<option value="5">Student</option>
											</select>
										</div>
									</div>
									<div class="4u 12u$(xsmall)">
										<input type="radio" required id="priority-low" required value="one" ng-model="formData.days" name="priority">
										<label for="priority-low">One Day</label>
									</div>
									<div class="4u 12u$(xsmall)">
										<input type="radio" id="priority-normal" required value="two" name="priority" ng-model="formData.days" checked>
										<label for="priority-normal">Two Day</label>
									</div>
									
									<div class="12u$">
										<textarea name="message" ng-model="message" id="message" required placeholder="How did you learn about Surgeprotech" rows="6"></textarea>
									</div>
									<pre ng-show="registerForm.$error.required"><b>All fields are required.</b></pre>
									<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Register Now" class="special" /></li>
										</ul>
									</div>


								</div>

							</form>
						<span ng-show="success">
							<b>	Your registration was successful, we will shortly get in touch with you regarding the payment details. Please send an e-mail to anita.gupta@ieema.org for any further queries.
						</b></span>

						<span ng-show="error">
							<b style="color:red;">An internal error occured, please try again later.</b>
						</span>
						</section>
							
			</div>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<div class="container 25%">
					<h2>Contact Us	</h2>
				</div>
				<div class="row">
					<div class="6u 6u$(small) -3u(small)">
						<p>
							<h4>Anita Gupta</h4>
							<br/>E: anita.gupta@ieema.org
							<br/>M: +91-9810540026
							<br/>P: + 91-11-23363013/14
							<br/>F : + 91-11-23363015
						</p>
					</div>
					<div class="6u 6u$(small) -3u(small)">
						<p>
							<h4>Vivek Arora</h4>
							<br/>E: vivek.arora@ieema.org
							<br/>M: + 91 8860353349
							<br/>P:+91-11-23363013/29
							<br/>F: +91-11- 23363015
						</p>
					</div>
				</div>
				<ul class="copyright">
					<li>&copy; IEEMA 2015-2016</li>
					<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				</ul>
			</div>
		</footer>

		<script type="text/javascript" src="/static/js/delegateapp.js"></script>
	</body>
</html>
