<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Surgeprotech 2016  - Spatial by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="index.html">SURGEPROTECH</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html"><i class="fa fa-arrow-left"></i> Back to Home</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Surgeprotech 2016 </h2>
						<p>Register delegates to attend the event</p>
					</header>

					<a href="#" class="image fit"><img src="images/registraton-banner.jpg" alt="Surgeprotech Banner" /></a>
					<p>SURGEPROTECH will give an opportunity to participants from various stakeholder groups in the Surge Arrester value chain
                to share their expertise. The tutorial cum conference will also provide detailed insights on various key system components  and their latest technological trends, keeping in mind an end-to-end solutions scenario in the expected smart world. The challenges being faced by different stake holders will be discussed at length to enrich the experience of all the participants, and enchance their knowledge with a real-world approach. This tutorial cum conference is envisaged to benefit utilities, industries, various government bodies and other stake-holders in strengthening their technological choices, while offering them the option to empower and utilize existing infrastructure for a sustainable future.</p>

				</div>

			</section>
					<h2 style="text-align: center;color:brown;">Coming soon</h2>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="container 25%">
						<h2>Contact Us	</h2>
					</div>
					<div class="row">
						<div class="6u 6u$(small) -3u(small)">
							<p>
								<h4>Anita Gupta</h4>
								<br/>E: anita.gupta@ieema.org
								<br/>M: +91-9810540026
								<br/>P: + 91-11-23363013/14
								<br/>F : + 91-11-23363015
							</p>
						</div>
						<div class="6u 6u$(small) -3u(small)">
							<p>
								<h4>Vivek Arora</h4>
								<br/>E: vivek.arora@ieema.org
								<br/>M: + 91 8860353349
								<br/>P:+91-11-23363013/29
								<br/>F: +91-11- 23363015
							</p>
						</div>
					</div>
					<ul class="copyright">
						<li>&copy; IEEMA 2015-2016</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>