<!doctype html>
<html lang="en" ng-app="spForums" class="html">
<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>SURGEPROTECH 2016</title>
    <meta name="description" content="website for surgeprotech 2016, organised by IEEMA.">
    <meta name="keywords" content="IEEMA, surgeprotech, 2016, surge arresters">
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.jpg">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" href="/static/css/font-lineicons.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/style.css" id="mainstyle" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/color-chooser.css" type="text/css" media="all" />

    <!--[if lt IE 9]>
        <script src="/static/js/html5.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->    
   <base href="/"></base>
    <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-route.min.js"></script>

    <script type="text/javascript" src="/static/js/lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-file-upload/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/es5-shim/es5-shim.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/es5-shim/es5-sham.min.js"></script>
</head>

<body ng-controller="appController">
    <header id="header" ng-show='currentUser.userId' class="navigation-bar-header light hidden-xs">
        <div class="container">
            <nav class="navigation">
                <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
                <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="navigation-bar navigation-bar-left">
                    <li><a href="/">Home</a></li>
                    <!--<li><a href="#stat">Number Facts</a></li>-->
                    <li><a href="index.html#schedule">Schedule</a></li>
                    <li><a href="/paper/1">View Submitted Papers</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>      
    </header>   

    <div class="container" id="forumcontainer" ng-view>
    </div> <!-- /container -->

    <script type="text/javascript" src="/static/js/service.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/controller.js"></script>

    <footer class="footer">
      <div class="footer-container">
        <p class="text-muted">Copyright 2015-16, IEEMA</p>
      </div>
    </footer>
</body>
</html>
