<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>SURGEPROTECH 2016</title>
    <meta name="description" content="Surgeprotech 2016, organized by IEEMA">
    <meta name="keywords" content="">
    <meta property="og:title" content="Surgeprotech 2016 Official website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="IEEMA, Surgeprotech 2016, Surgeprotech, Conference"/>
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.jpg">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/font-lineicons.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/style.css" id="mainstyle" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/color-chooser.css" type="text/css" media="all" />
    <!--[if lt IE 9]>
    <script src="/static/js/html5.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="index">
    <!-- Preloader -->
  <header id="mobileheader" class="navigation-bar-header light visible-xs"></header>
  <!-- Hero Section -->
  <section id="hero" class="light">
    <div class="overlay color"></div>
    <div class="container">
      <div class="home-bg">
        <div class="hero-content text-center ">
          <div class="hero-small">
            <hr/>  <span><span class="fa fa-calendar"></span>27,28 August 2016<div class="sep"></div> <span class="fa fa-map-marker"></span>Le-Meridien, New Delhi</span> <hr/>
            <br>
            <br>
            <div class="hero-big">Surgeprotech</div>
            <div class="hero-normal">India's largest conference on surge arresters.</div>
            <!-- <nav class="navigation navigation-social"> -->
            <ul class="navigation-bar" style="margin-top: -47px; margin-bottom: -21px;">
              <li><a href="#"><span class="fa fa-twitter"></span></a>
              <li><a href="#"><span class="fa fa-facebook"></span></a>
            </ul>
            <!-- </nav> -->
            <br/>
            <a href="http://goo.gl/dfbeFT" class="btn btn-lg btn-3d">Submit a paper</a>
            <a href="/register" class="btn btn-lg btn-3d">Download Brochure</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Section -->
    <!-- Header -->
    <header id="header" class="navigation-bar-header light hidden-xs">
      <div class="container">
        <nav class="navigation">
          <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
          <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <ul class="navigation-bar navigation-bar-left">
            <li><a href="index.html#about">About</a></li>
            <!--<li><a href="#stat">Number Facts</a></li>-->
            <li><a href="index.html#schedule">Schedule</a></li>
            <li><a href="index.html#speakers">Speakers</a></li>
            <!-- <li><a href="index.html#price">Prices</a></li> -->
            <!-- <li><a href="index.html#elements">Shortcodes</a></li> -->
            <li><a href="index.html#sponsors">Sponsors</a></li>
            <li><a href="index.html#map">Contact Us</a></li>
            <li class="featured"><a href="http://goo.gl/dfbeFT"><i class="fa fa-ticket fa-1x"></i>Conference Registration</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- End Header -->
    <!-- About Section -->
    <section id="about" class="section dark">
      <div class="container">
        <div class="icon-wrap"><span class="icon icon-active icon-multimedia-12"></span></div>
        <h3>Chance to meet the biggest players in the industry</h3>
        <div class="sub-title"></div>
        <br />
        <br />
        <section class="nav-tabs-simple">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified">
            <li  class="active"><a href="index.html#php" data-toggle="tab"><i class="icon icon-chat-messages-01"></i>About IEEMA</a></li>
            <li><a href="index.html#htmlcss" data-toggle="tab"><i class="icon icon-education-science-11"></i> Vision</a></li>
            <li><a href="index.html#jquery" data-toggle="tab"><i class="icon icon-documents-bookmarks-12"></i>About Surgeprotech</a></li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade" id="htmlcss">
              <article class="row">
                <div class="col-md-4 col-sm-4 animated hiding" data-animation="fadeInLeft" data-delay="500">
                  <img class="img-responsive" src="/static/img/390kVLA.jpg" alt="starbuck" />
                </div>
                <div class="col-md-8 col-sm-8 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                  <h6>Content-awaited.</h6>
                </div>
              </article>
            </div>
            <div class="tab-pane fade" id="jquery">
              <article class="row">
                <div class="col-md-8 col-sm-8 text-left animated hiding" data-animation="fadeInLeft" data-delay="500">
                  <h6>Content awaited.</h6>
                </div>
                <div class="col-md-4 col-sm-4 animated hiding" data-animation="fadeInRight" data-delay="500">
                  <img class="img-responsive" src="/static/img/624KV.jpg" alt="placeholder" />
                </div>
              </article>
            </div>
            <div class="tab-pane fade in active" id="php">
              <article class="row">
                <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                  <img class="img-responsive" src="/static/img/Logo_IEEMA.jpg" alt="iphone" />
                </div>
                <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                  <h6>About IEEMA</h6>
                  <p>Indian Electrical &amp; Electronics Manufacturers’ Association (IEEMA) is the apex industry association of manufacturers of electrical, industrial electronics and allied equipment in India. Founded in 1948, IEEMA has a pan India presence with offices in New Delhi, Mumbai, Kolkata and Bangalore.</p>
                  <p>IEEMA, the first ISO certified industry association in India, has around 800 member organisations encompassing the complete value chain in power generation, transmission and distribution equipment. Its membership base, ranging from public sector enterprises, multinational companies to small, medium and large companies, gives IEEMA a truly national representative character. IEEMA members have contributed to more than 90% of the power equipment installed in India. The Indian electrical equipment industry size in 2012-13 was in excess of INR 1.30 lakh crores (USD 24 billion), with exports of USD 5 billion. The industry provides direct and indirect employment to over 1.5 million persons, and to 5 million across the entire value chain.</p>
                  <p>With expertise resident in its product divisions and cells, IEEMA is the natural voice of Indian electrical industry and plays a crucial policy advocacy role with the government and its agencies. IEEMA facilitates a robust two-way flow of customised and value added information between the government and the industry. It sensitises all stakeholders on the future requirements for development of the power sector in the country. IEEMA also engages proactively in government-industry consultative mechanism through its representation on councils and committees constituted by the government and its agencies in policy, strategic and other matters.</p>
                  <p>IEEMA provides a vibrant platform for knowledge sharing, adoption of best practices and networking opportunities for manufacturers, utilities, professionals, international experts and organisations. It organises technical product-specific international seminars, national conferences and workshops, as also numerous training programmes for capacity building of technical personnel in the country and abroad.</p>
                  <p>IEEMA works closely with government agencies, utilities, standardisation bodies, research &amp; development organisations and testing institutes for formulating Indian standards for electro-technical industry and developing energy efficient products.</p>
                  <p>Based on detailed information gathered from members, IEEMA has been compiling and disseminating detailed statistics of production data for more than three decades which is used extensively by industry and others. IEEMA also evolves and operates equitable and uniform Price Variation Clause (PVC) by circulating applicable monthly raw material prices and indices. Due to its unbiased and systematic approach, IEEMA PVCs have gained recognition and credibility over the last three decades and are a crucial part of almost all tenders of utilities, public sector enterprises and major private players, including projects funded by multilateral development agencies.</p>
                  <p>IEEMA SME Quality Award (ISQA) signifies IEEMA’s commitment to quality and international benchmarking. IEEMA produces well researched publications and reports, including the IEEMA Journal – the leading electrical and electronics monthly in the country.</p>
                  <p>IEEMA’s flagship biennial exhibition – ELECRAMA – is the largest focussed exhibition in the world of electrical transmission and distribution equipment industry. ELECRAMA attracts over 1,000 exhibitors and visitors from more than 120 foreign countries.</p>
                  <p>In its endeavour of making the domestic electrical industry a global leader, IEEMA organises periodic high-level delegation visits and participation in exhibitions abroad. It actively networks with overseas counterpart associations for exchange of information and organisation of joint programmes aimed at enhancing business co-operation.</p>
                  <p>IEEMA is a proud partner in the implementation of the Indian Electrical Equipment Industry Mission Plan 2012-2022. The Department of Heavy Industry (DHI), Government of India, in consultation with various stakeholders and IEEMA, has launched the Mission Plan with a view to support the domestic electrical equipment industry’s future development and enhance its global competitiveness. Vision 2022 as articulated by the Mission Plan is “to make India the country of choice for the production of electrical equipment and reach an output of US$100 billion by balancing exports and imports”.</p>
                </div>
              </article>
            </div>
          </div>
        </section>
      </div>
    </section>
    <!-- End About Section -->
    <!-- Stat Section -->
    <!-- End Stat Section -->
    <!-- Schedule Section -->
    <section id="schedule" class="section dark">
      <div class="container">
        <div class="icon-wrap"><span class="icon icon-active icon-text-hierarchy-07"></span></div>
        <h3>AGENDA</h3>
        <div class="sub-title">A short schedule of the conference</div>
        <br />
        <br />
        <section class="nav-tabs-default hidden-xs">
          <!-- Parent Nav Tabs -->
          <!-- Parent Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="DayOne">
              
              <!-- Child 1 Nav Tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="index.html#DayOne-1" data-toggle="tab">27th of August</a></li>
                <li><a href="index.html#DayOne-2" data-toggle="tab">28th of August</a></li>
              </ul>
              
              <!-- Child 1 Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="DayOne-1">
                  <div class="panel-group timeline-schedule" id="panelTimelineOne">
                    <div class="panel panel-default">
                      <div class="speaker-wrapper">
                        <img src="/static/img/registration.jpg" class="img-responsive img-circle" alt="speaker-1" />
                      </div>
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="time"><i class="fa fa-clock-o"></i> 9:30 AM</div>
                          <a data-toggle="collapse" data-parent="#panelTimelineOne" href="index.html#itemOne">
                            Starting with registrations
                            <div class="pull-right fa fa-angle-up"></div>
                            <div class="pull-right fa fa-angle-down"></div>
                          </a>
                        </div>
                      </div>
                      <div id="itemOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <article>
                            <p>Make sure you've received your invite before coming. Bring a valid ID-card along with you</p>
                            <!-- <p class="author"><a href="index.html#"><strong><i class="fa fa-user"></i> John Doeson</strong></a></p> -->
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="speaker-wrapper">
                        <img src="/static/img/Logo_IEEMA.jpg" class="img-responsive" alt="speaker-2" />
                      </div>
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="time"><i class="fa fa-clock-o"></i> 10:00 AM - 10:30 AM</div>
                          <a data-toggle="collapse" data-parent="#panelTimelineOne" href="index.html#itemTwo" class="collapsed">
                            Keynote Speech
                            <div class="pull-right fa fa-angle-up"></div>
                            <div class="pull-right fa fa-angle-down"></div>
                          </a>
                        </div>
                      </div>
                      <div id="itemTwo" class="panel-collapse collapse ">
                        <div class="panel-body">
                          <article>
                            <p>The Keynote Speech is given by Organizers.</p>
                            <!-- <p><a href="http://goo.gl/dfbeFT">Submit a proposal</a> to get a slot here or vote for one of the selected ones</p> -->
                            <!-- <p class="author"><a href="index.html#"><strong><i class="fa fa-user"></i> John Doeson</strong></a></p> -->
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="speaker-wrapper">
                        <img src="/static/img/man_talking.jpg" class="img-responsive" alt="speaker-1" />
                      </div>
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="time"><i class="fa fa-clock-o"></i> 10:30 AM - 11:30 AM</div>
                          <a data-toggle="collapse" data-parent="#panelTimelineOne" href="index.html#itemThree" class="collapsed">
                            First talk.
                            <div class="pull-right fa fa-angle-up"></div>
                            <div class="pull-right fa fa-angle-down"></div>
                          </a>
                        </div>
                      </div>
                      <div id="itemThree" class="panel-collapse collapse ">
                        <div class="panel-body">
                          <article>
                            <p>I will give a talk.</p>
                            <!-- <p><a href="http://goo.gl/dfbeFT">Submit a proposal</a> to get a slot here or vote for one of the selected ones</p> -->
                            <p class="author"><a href="index.html#"><strong><i class="fa fa-user"></i> Gaurav Saini</strong></a></p>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="speaker-wrapper">
                        <img src="/static/img/surgearrester.jpg" class="img-responsive" alt="speaker-2" />
                      </div>
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="time"><i class="fa fa-clock-o"></i> 11:30 AM - 12:30 PM</div>
                          <a data-toggle="collapse" data-parent="#panelTimelineOne" href="index.html#itemFour" class="collapsed">
                            Using surge arresters.
                            <div class="pull-right fa fa-angle-up"></div>
                            <div class="pull-right fa fa-angle-down"></div>
                          </a>
                        </div>
                      </div>
                      <div id="itemFour" class="panel-collapse collapse ">
                        <div class="panel-body">
                          <article>
                            <p>I'll also give a talk.</p>
                            <!-- <p><a href="http://goo.gl/dfbeFT">Submit a proposal</a> to get a slot here or vote for one of the selected ones</p> -->
                            <p class="author"><a href="index.html#"><strong><i class="fa fa-user"></i> Rajat Goyal</strong></a></p>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="speaker-wrapper">
                        <img src="/static/img/student_paper.jpg" class="img-responsive" alt="speaker-2" />
                      </div>
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="time"><i class="fa fa-clock-o"></i> 12:30 PM - 1:30 PM</div>
                          <a data-toggle="collapse" data-parent="#panelTimelineOne" href="index.html#itemFive" class="collapsed">
                            student papers
                            <div class="pull-right fa fa-angle-up"></div>
                            <div class="pull-right fa fa-angle-down"></div>
                          </a>
                        </div>
                      </div>
                      <div id="itemFive" class="panel-collapse collapse ">
                        <div class="panel-body">
                          <article>
                            <p>This session would cover:<ul>
                              <li>How x is done.</li>
                              <li> How Y is done.</li>
                              <p class="author"><a href="index.html#"><strong><i class="fa fa-user"></i> Shaumik Daityari</strong></a></p>
                            </article>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="speaker-wrapper">
                          <img src="/static/img/break.jpg" class="img-responsive" alt="speaker-2" />
                        </div>
                        <div class="panel-heading">
                          <div class="panel-title">
                            <div class="time"><i class="fa fa-clock-o"></i> 1:30 PM - 2:30 PM</div>
                            <a data-toggle="collapse" data-parent="#panelTimelineOne" href="index.html#itemSix" class="collapsed">
                              Break Time
                              <div class="pull-right fa fa-angle-up"></div>
                              <div class="pull-right fa fa-angle-down"></div>
                            </a>
                          </div>
                        </div>
                        <div id="itemSix" class="panel-collapse collapse ">
                          <div class="panel-body">
                            <article>
                              Let's stretch our legs for a moment
                            </article>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="speaker-wrapper">
                          <img src="/static/img/Logo_IEEMA.jpg" class="img-responsive" alt="gsocers" />
                        </div>
                        <div class="panel-heading">
                          <div class="panel-title">
                            <div class="time"><i class="fa fa-clock-o"></i>5:30 PM</div>
                            <a data-toggle="collapse" data-parent="#panelTimelineOne" href="index.html#itemTen" class="collapsed">
                              Closing Session
                              <div class="pull-right fa fa-angle-up"></div>
                              <div class="pull-right fa fa-angle-down"></div>
                            </a>
                          </div>
                        </div>
                        <div id="itemTen" class="panel-collapse collapse">
                          <div class="panel-body">
                            <article>
                              <p>End of Day Sessions. Distribution of kits.</p>
                              <!-- <p class="author"><a href="index.html#"><strong><i class="fa fa-user"></i> John Doeson</strong></a></p> -->
                            </article>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    
                  </div>
                  <div class="tab-pane fade" id="DayTwo">
                    
                    <!-- Child 2 Nav Tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="index.html#DayTwo-1" data-toggle="tab">Auditorium 1</a></li>
                      <li><a href="index.html#DayTwo-2" data-toggle="tab">Auditorium 2</a></li>
                      <li><a href="index.html#DayTwo-3" data-toggle="tab">Auditorium 3</a></li>
                      <li><a href="index.html#DayTwo-4" data-toggle="tab">Conference Room #2</a></li>
                    </ul>
                    
                    <!-- Child 2 Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane fade in active" id="DayTwo-1">
                        <article>
                          <p>No schedule yet.</p>
                        </article>
                      </div>
                      <div class="tab-pane fade" id="DayTwo-2">
                        <article>
                          <p>No schedule yet.</p>
                        </article>
                      </div>
                      <div class="tab-pane fade" id="DayTwo-3">
                        <article>
                          <p>No schedule yet.</p>
                        </article>
                      </div>
                      <div class="tab-pane fade" id="DayTwo-4">
                        <article>
                          <p>No schedule yet.</p>
                        </article>
                      </div>
                    </div>
                    
                  </div>
                  <div class="tab-pane fade" id="DayThree">
                    
                    <!-- Child 3 Nav Tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="index.html#DayThree-1" data-toggle="tab">Auditorium 1</a></li>
                      <li><a href="index.html#DayThree-2" data-toggle="tab">Auditorium 2</a></li>
                      <li><a href="index.html#DayThree-3" data-toggle="tab">Auditorium 3</a></li>
                      <li><a href="index.html#DayThree-4" data-toggle="tab">Class 2</a></li>
                    </ul>
                    
                    <!-- Child 3 Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane fade in active" id="DayThree-1">
                        <article>
                          <p>No schedule yet.</p>
                        </article>
                      </div>
                      <div class="tab-pane fade" id="DayThree-2">
                        <article>
                          <p>No schedule yet.</p>
                        </article>
                      </div>
                      <div class="tab-pane fade" id="DayThree-3">
                        <article>
                          <p>No schedule yet.</p>
                        </article>
                      </div>
                      <div class="tab-pane fade" id="DayThree-4">
                        <article>
                          <p>No schedule yet.</p>
                        </article>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </section>
              
              <div class="btn-wrapper">
                <a href="https://docs.google.com/spreadsheets/d/1L5CpTOaMlkULdBZCiBNgA44YjA15zZ5hf5pLN_Von8Y/pubhtml" class="btn btn-xs"><span class="icon icon-filetypes-13 icon-active"></span> <span class="btn-txt">See all accepted papers.</span></a>
              </div>
            </div>
          </section>
          <!-- End Schedule Section -->
          <!-- Speakers Section -->
          <section id="speakers" class="section light">
            <div class="overlay"></div>
            <div class="container " >
              <div class="icon-wrap"><span class="icon icon-active icon-multimedia-12"></span></div>
              <h3>Technical Committee Members</h3>
              <div class="sub-title">First of its kind conference for the Indian surge arrester industry. </div>
              <br />
              <br />
              <section class="row">
                <section class="row">
                  <!-- <div class="col-md-2 col-sm-2 col-xs-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="0">
                    <div class="img-wrapper">
                <img src="assets/img/speaker/speaker-1.jpg" width="200px" class="img-responsive img-circle" alt="speaker-1" />
              </div>
                      <div class="name">Gaurav Saini</div>
                      <div class="sub">Mifos Initiative</div>
                      <p class="small">First talk</p>
                      <!-- <div class="social-link"> -->
                      <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
                      <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
                      <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
                      <!-- </div> -->
                    </div>
                  </div>
                  <div class="clearfix visible-xs"></div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
                      
                      <div class="name">Rajat Goyal</div>
                      <div class="sub">some other guy</div>
                      <p class="small">surge arrester working</p>
                      <!-- <div class="social-link"> -->
                      <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
                      <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
                      <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
                      <!-- </div> -->
                    </div>
                  </div>
                  
                  
                  <!-- <div class="col-md-3 col-sm-3 col-xs-6"> -->
                  <!--   <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="500"> -->
                  <!--     <div class="img-wrapper"> -->
                  <!--       <img src="/static/img/speaker/speaker-2.jpg" class="img-responsive img-circle" alt="speaker-2" /> -->
                  <!--     </div> -->
                  <!--     <div class="name">Eric Doeson</div> -->
                  <!--     <div class="sub">CTO Tinterest</div> -->
                  <!--     <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                  <!--     <div class="social-link"> -->
                  <!--       <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
                  <!--       <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
                  <!--       <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
                  <!--     </div> -->
                  <!--   </div> -->
                  <!-- </div> -->
                  <div class="clearfix visible-xs"></div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
                      
                      <div class="name">Shaumik Daityari</div>
                      <div class="sub">some company X</div>
                      <p class="small">Accessibility</p>
                      <!-- <div class="social-link"> -->
                      <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
                      <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
                      <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
                      <!-- </div> -->
                    </div>
                  </div>
                </section>
                <div class="col-md-2 col-sm-2 col-xs-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
                    
                    <div class="name">Some other guy</div>
                    <div class="sub">surge arresters</div>
                    <p class="small">a website.</p>
                    <!-- <div class="social-link"> -->
                    <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
                    <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
                    <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
                    <!-- </div> -->
                  </div>
                </div>
                
                <div class="clearfix visible-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
                    
                    <div class="name">Ida</div>
                    <div class="sub">Msdffds ltd.</div>
                    <p class="small">some other talk.</p>
                    <!-- <div class="social-link"> -->
                    <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
                    <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
                    <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <!-- <div class="col-md-2 col-sm-2 col-xs-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->
                <!-- <div class="col-md-3 col-sm-3 col-xs-6"> -->
                <!--   <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1500"> -->
                <!--     <div class="img-wrapper"> -->
                <!--       <img src="/static/img/speaker/speaker-4.jpg" class="img-responsive img-circle" alt="speaker-4" /> -->
                <!--     </div> -->
                <!--     <div class="name">Martin Branson</div> -->
                <!--     <div class="sub">CFO Doogle</div> -->
                <!--     <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <!--     <div class="social-link"> -->
                <!--       <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
                <!--       <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
                <!--       <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
                <!--     </div> -->
                <!--   </div> -->
                <!-- </div> -->
              </section>
              <div class="sub-title"><strong></strong></div><br/>
              
            </div>
          </section>
          <!-- End Speakers Section -->
          <!-- Price Section -->
          <section id="price" class="section dark">
            <div class="container">
              <div class="icon-wrap"><span class="icon icon-active icon-shopping-02"></span></div>
              <h3>Pricetable</h3>
              <div class="sub-title">Shortest way to explore what will happen on meetup</div>
             <br/>
             <br/>
              <div class="pricing-cols pricing-3-cols">
                <div class="pricing-col animated hiding" data-animation="fadeInLeft" data-delay="0">
                    <div class="pricing-col-header">
                        <h3 class="pricing-col-header-title">1 day</h3>
                        <h4 class="pricing-col-header-amount">
                        <span class="pricing-col-amount">$100</span></h4>
                    </div>
                    <div class="pricing-col-content">
                        <ul>
                            <li>Lorem ipsum is simply</li>
                            <li>Dummy text of the printing</li>
                            <li>Typesetting industry</li>
                        </ul>
                        <a class="pricing-col-button" href="https://docs.google.com/forms/d/1yg-sod1yCEnyCZL7lLkJuLTv6Njc06b_oNnccrN2S1g/viewform">Buy Now</a>
                    </div>
                </div>
                <div class="pricing-col pricing-col-featured">
                    <div class="pricing-ribbon">-20%</div>
                    <div class="pricing-col-header">
                        <h3 class="pricing-col-header-title">3 days</h3>
                        <h4 class="pricing-col-header-amount"><span class="pricing-col-amount">$150</span></h4>
                    </div>
                    <div class="pricing-col-content">
                        <ul>
                            <li>Lorem ipsum is simply</li>
                            <li>Dummy text of the printing</li>
                            <li>Typesetting industry</li>
                        </ul>
                        <a class="pricing-col-button" href="https://docs.google.com/forms/d/1yg-sod1yCEnyCZL7lLkJuLTv6Njc06b_oNnccrN2S1g/viewform">Buy Now</a>
                    </div>
                </div>
                <div class="pricing-col animated hiding" data-animation="fadeInRight" data-delay="0">
                    <div class="pricing-col-header">
                        <h3 class="pricing-col-header-title">2 days</h3>
                        <h4 class="pricing-col-header-amount"><span class="pricing-col-amount">$200</span></h4>
                    </div>
                    <div class="pricing-col-content">
                        <ul>
                            <li>Lorem ipsum is simply</li>
                            <li>Dummy text of the printing</li>
                            <li>Typesetting industry</li>
                        </ul>
                        <a class="pricing-col-button" href="https://docs.google.com/forms/d/1yg-sod1yCEnyCZL7lLkJuLTv6Njc06b_oNnccrN2S1g/viewform">Buy Now</a>
                    </div>
                </div>
            </div>
            </div>
          </section>
          <!-- End Price Section -->
          <!-- Newsletter Section -->
          <!-- <section id="newsletter" class="section light"> -->
          <!--   <div class="overlay"></div> -->
          <!--   <div class="container"> -->
          <!--     <article class="article-big animated hiding" data-animation="fadeInDown" data-delay="0"> -->
          <!--       <h5>Newsletter <span class="highlight">Signup</span></h5> -->
          <!--       <p>No Spam - only <span class="highlight">latest news</span>, price and activity updates!</p> -->
          <!--       <form id="subscribe" class="form" action="index.html" method="post"> -->
          <!--         <div class="form-group form-inline"> -->
          <!--           <input type="email" class="form-control required" id="NewsletterEmail" name="NewsletterEmail" placeholder="your@email.com" />  -->
          <!--        <input type="submit" class="btn btn-xs btn-default" value="Submit" /> -->
          <!--        <span id="response"> -->
          <!--                </span> -->
          <!--         </div> -->
          
          <!--       </form> -->
          <!--     </article> -->
          <!--   </div> -->
          <!-- </section> -->
          <!-- End Newsletter Section -->
          <!-- Register Section  -->
          <!-- <section id="register" class="section light"> -->
            <!-- <div class="overlay"></div> -->
            <!-- <div class="container"> -->
              <!-- <article class="article-big animated hiding" data-animation="fadeInUp" data-delay="0"> -->
          <!--       <h5>Register and Propose an event right now!</h5> -- >
          <!--       <p>Register for the awesomeness and Propose / Vote for you favorite talk.</p> -->
          
          <!--    <p><strong>Note:</strong>Voting option is for the present and previous GSoCer's only</p> -->
          <!--    <a href="https://docs.google.com/forms/d/1yg-sod1yCEnyCZL7lLkJuLTv6Njc06b_oNnccrN2S1g/viewform" class="btn btn-sm btn-tertiary">Register</a>&nbsp;&nbsp; -->
          <!--    <a href="http://goo.gl/84VG4n" class="btn btn-sm btn-tertiary">Vote for an Event</a> -->
          <!--     </article> -->
          <!--   </div> -->
          <!-- </section> -->
          <!-- End Register Section -->
          <!-- Sponsors Section -->
          <section id="sponsors" class="section dark">
            <div class="container">
              <div class="icon-wrap"><span class="icon icon-active icon-documents-bookmarks-12"></span></div>
              <h3>Sponsors</h3>
              <br/>
              <div class="row">
                <ul class="list-inline">
                  <li><a href="http://www.bhel.com" target="_blank"><img src="/static/img/bhel.png" alt="sponsor-1" /></a></li>
                </ul>
              </div>
            </section>
            <!-- End Price Section -->
            <!-- Map Section -->
            <section id="map" class="dark">
              <div id="canvas-map"></div>
              <div class="container" style="margin-left: 100px;">
                <div class="row" >
                  <div class="col-md-5 col-sm-7 animated hiding location" data-animation="fadeInLeft" data-delay="0">
                    <h3>Location</h3>
                    <ul itemscope="" itemtype="http://schema.org/PostalAddress">
                      <li itemprop="address"><i class="fa fa-map-marker highlight"></i>Hotel Le-Meridien, New delhi</li>
                      <li itemprop="email"><i class="fa fa-envelope highlight"></i>anita.gupta@ieema.org</li>
                      <li itemprop="telephone"><i class="fa fa-phone highlight"></i>(+91) 9810540026 (Anita Gupta)</li>
                      <li itemprop="telephone"><i class="fa fa-phone highlight"></i>(+91) 4245249583 (Intern)</li>
                      <li itemscope="" itemtype="http://schema.org/Event"><i class="fa fa-clock-o highlight"></i><time itemprop="startDate" datetime="2014-08-23T09:30">9:00</time> - <time itemprop="endDate" datetime="2014-08-23T18:00">18:00</time></li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Map Section -->
            
            <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>
            <!--[if lt IE 9]>
            <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js?ver=1"></script>
            <![endif]-->
            <!--[if (gte IE 9) | (!IE)]><!-->
            <script type="text/javascript" src="/static/js/lib/jquery-2.1.0.min.js?ver=1"></script>
            <!--<![endif]-->
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
            <script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
            <script type="text/javascript" src="/static/js/lib/jquery.nav.js"></script>
            <script type="text/javascript" src="/static/js/lib/jquery.appear.js"></script>
            <script type="text/javascript" src="/static/js/lib/jquery.countTo.js"></script>
            <script type="text/javascript" src="/static/js/lib/waypoints.min.js"></script>
            <script type="text/javascript" src="/static/js/lib/waypoints-sticky.min.js"></script>
            <script type="text/javascript" src="/static/js/lib/jquery.fancybox.js"></script>
            <!--  <script type="text/javascript" src="/static/mailchimp/js/mailing-list.js"></script>-->
            <script type="text/javascript" src="/static/js/lib/scripts.js"></script>
            <script type="text/javascript" src="/static/js/lib/color-chooser.js"></script>
          </body>
        </html>