<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Surgeprotech 2016 | 2nd International Conference cum Tutorials on Surge Arresters</title>
    <meta name="description" content="Surgeprotech 2016, organized by IEEMA">
    <meta name="keywords" content="surgeprotech, surgeprotech, 2016, IEEMA, surge arresters, conference">
    <meta name="google-site-verification" content="U70S-g9JfbrkfMk1uhjpcf2BJJ2c0DeIhJQtCzIRh5I" />
    <meta property="og:title" content="Surgeprotech 2016 Official website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="IEEMA, Surgeprotech 2016, Surgeprotech, Conference"/>
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/dist/style.min.css" id="mainstyle" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="/static/js/html5.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="index">
  <!-- Header -->
  <header id="header" class="navigation-bar-header light hidden-xs">
    <!-- <div class="container"> -->
      <nav class="navigation">
      <div class="navbar-brand"><img src="/static/img/Logo.png" style="padding-bottom: 10px; margin-bottom:5px;" width="200px" height="50px"></div>
        <div class="navigation-txt visible-xs" data-toggle="dropdown"></div>
        <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="container" style="display:inline-block;">
        <ul class="navigation-bar navigation-bar-left">
          <li><a href="index.html#about">About</a></li>
          <!--<li><a href="#stat">Number Facts</a></li>-->
          <li><a href="index.html#schedule">Overview</a></li>
          <li><a href="index.html#committee">Committee</a></li>
          <!-- <li><a href="index.html#elements">Shortcodes</a></li> -->
          <li><a href="index.html#sponsors">Sponsors</a></li>
          <li><a href="index.html#map">Venue</a></li>
          <li><a href="index.html#contact">Contact Us</a></li>
          <li class="featured"><a href="index.html#price"><i class="fa fa-ticket fa-1x"></i>Delegate Registration</a></li>
        </ul>
      </div>
      </nav>
    <!-- </div> -->
  </header>
  <!-- End Header -->
    <!-- Preloader -->
  <header id="mobileheader" class="navigation-bar-header light visible-xs"></header>

  <section class="over-fold">
      <h2>SURGEPROTECH</h2>
      <h4>2<sup>nd</sup> International Conference cum Tutorials on Surge Arresters</h4>
    <div class="col-md-7">
      <div class="css-slideshow hidden-xs" style="margin-left:2em;">
      <figure>
        <img src="/static/img/hero/hero1.jpg"  width="620" height="380" alt="">
      </figure>
      <figure>
        <img src="/static/img/hero/hero2.jpg" width="620" height="380"  alt="">
      </figure>
      <figure>
        <img src="/static/img/hero/hero3.jpg"  width="620" height="380" alt="">
      </figure>
      <figure>
        <img src="/static/img/hero/hero4.jpg" width="620" height="380"  alt="">
      </figure>
      <figure>
        <img src="/static/img/hero/hero5.jpg" width="620" height="380"  alt="">
      </figure>
    </div>

      <div class="css-slideshow visible-xs">
      <figure>
        <img src="/static/img/hero/hero1.jpg"  width="320" height="240" alt="">
      </figure>
      <figure>
        <img src="/static/img/hero/hero2.jpg" width="320" height="240"  alt="">
      </figure>
      <figure>
        <img src="/static/img/hero/hero3.jpg"  width="320" height="240" alt="">
      </figure>
      <figure>
        <img src="/static/img/hero/hero4.jpg" width="320" height="240"  alt="">
      </figure>
      <figure>
        <img src="/static/img/hero/hero5.jpg" width="320" height="240"  alt="">
      </figure>
    </div>
   </div>
   <div class="col-md-4">
     <h6>Arresters for FAIL SAFE PROTECTION</h6>
     <p>Surge Arrester -  The most critical equipment for safe &amp; reliable operation of Electrical Power System play an important role in limiting Transient over voltages, Switching &amp;lightning surges on Main Equipment like Transformers, Reactors &amp; Circuit Breakers etc. The Indian Surge Arrester Industry has designed, tested and successfully commissioned Polymer housed Surge Arresters upto 1200kV at National Test station, Bina(India).
     </p>
   </div>
   <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
   <div class="container">
     <div class="row"></div>
   </div>
  </section>
  <!-- Hero Section -->
<!--   <section class="light">
  <div class="jumbotron">
 -->  <!-- <div class="container"> -->
<!--     <div id="slider">
      
    </div>
 -->  <!-- </div> -->
  <!-- </div> -->
  <!-- </section> -->
  <!-- End Hero Section -->
  <!-- About Section -->
  <section id="about" class="section dark">
    <div class="container">
      <div class="icon-wrap"><!-- <span class="icon icon-active icon-multimedia-12"></span> --></div>
      <!-- <h3>Arresters for fail safe protection</h3> -->
      <div class="sub-title"></div>
      <br />
      <br />
      <section class="nav-tabs-simple">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
          <li><a href="index.html#php" data-toggle="tab">About IEEMA</a></li>
          <li class="active"><a href="index.html#jquery" data-toggle="tab">Who should Attend</a></li>
          <li><a href="index.html#htmlcss" data-toggle="tab">Preamble</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade" id="htmlcss">
            <article class="row">
              <div class="col-md-4 col-sm-4 animated hiding" data-animation="fadeInLeft" data-delay="500">
                <img class="img-responsive" src="/static/img/preamble.png" alt="preamble" />
              </div>
              <div class="col-md-8 col-sm-8 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                <p>
                  <strong>Surge Arrester</strong>, the most critical equipment for safe and reliable operation of
                  Electrical Power System, plays an important role in limiting Transient over voltages,
                  Switching and Lightning surges on Main Equipment like Transformers, Reactors and
                  Circuit Breakers etc. The Indian Surge Arrester Industry has designed, tested and
                  successfully commissioned Polymer housed Surge Arresters for 1200 KV system at
                  the National Test Station, Bina (India).
                </p>
                <p>
                  These twin events (Tutorials and Conference) will be of interest to participants
                  from:
                  <ol>
                    
                   <li> Power Generation, Transmission and Distribution Utilities </li>
                   <li> Surge Arrester and Component Manufacturers</li>
                   <li> Testing Laboratories</li>
                   <li> Government bodies / Regulators</li>
                   <li> EPC Contractors and Consultants</li>
                   <li> Academic and Research Institutes</li>
                   <li> Railway Traction organizations</li>
                   <li> Industrial Sector</li>
                   <li> Renewable Energy Equipment manufacturers/developers</li>
                   <li> Captive Power Generators</li>
                  </ol>
                </p>
              </div>
            </article>
          </div>
          <div class="tab-pane fade in active" id="jquery">
            <article class="row">
              <div class="col-md-4 col-sm-4 animated hiding" data-animation="fadeInRight" data-delay="500">
                <img class="img-responsive" src="/static/img/theme.png" alt="surge arrester" />
              </div>
              <div class="col-md-8 col-sm-8 text-left animated hiding" data-animation="fadeInLeft" data-delay="500">
                <p>SURGEPROTECH will give an opportunity to participants from various stakeholder groups in the Surge Arrester value chain
                to share their expertise. The tutorial cum conference will also provide detailed insights on various key system components  and their latest technological trends, keeping in mind an end-to-end solutions scenario in the expected smart world. The challenges being faced by different stake holders will be discussed at length to enrich the experience of all the participants, and enchance their knowledge with a real-world approach. This tutorial cum conference is envisaged to benefit utilities, industries, various government bodies and other stake-holders in strengthening their technological choices, while offering them the option to empower and utilize existing infrastructure for a sustainable future.</p>
              </div>
            </article>
          </div>
          <div class="tab-pane fade" id="php">
            <article class="row">
              <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                <img class="img-responsive" src="/static/img/Logo_IEEMA.jpg" alt="Company Logo" />
              </div>
              <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                <h6>About IEEMA</h6>
                <p>Indian Electrical &amp; Electronics Manufacturers’ Association (IEEMA) is the apex industry association of manufacturers of electrical, industrial electronics and allied equipment in India. Founded in 1948, IEEMA has a pan India presence with offices in New Delhi, Mumbai, Kolkata and Bangalore.</p>
                <a href="http://ieema.in">Continue reading ></a>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
  </section>
  <!-- End About Section -->
  <!-- Stat Section -->
  <!-- End Stat Section -->
  <!-- Schedule Section -->
  <section id="schedule" class="section dark" ng-app="tabControls">
    
    <div class="container" ng-controller="tabController as tabc">
      <!-- <div class="icon-wrap"><span class="icon icon-active icon-text-hierarchy-07"></span></div> -->
      <h3>OVERVIEW</h3>
      <div class="sub-title">A brief overview of the two days.</div>
      <br />
      <br />
      <section class="nav-tabs-default">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="DayOne">
            <ul class="nav nav-tabs">
              <li class="active"  data-toggle="tab"><a href ng-click="tabc.setTab(1)">28th of April</a></li>
              <li data-toggle="tab"><a href ng-click="tabc.setTab(2)">29th of April</a></li>
            </ul>
            
            <div class="tab-content">
              <div class="tab-pane fade in active" id="DayOne-1" ng-show="tabc.isSelected(1)">
                <article>
                  <h6>Tutorials</h6>
                  Following key speakers will deliver the session in the tutorials:
                  
                  <ul class="list-group">
                    <li class="list-group-item"><strong class="pull-left">Prof. Dr. ING Volker Hinrichsen, IEC</strong>- Surge Arrester testing and its
                    significance as per latest International Standards</li>
                    <li class="list-group-item"><strong class="pull-left">Prof. Bengt Johnnerfelt, TE Energy</strong>-Design , Selection and Application of
                    Transmission line Arresters</li>
                    <li class="list-group-item"><strong class="pull-left">Mr. O. Balagangadhar, Oblum</strong>– Latest developments in technology and
                    performance of Metal oxide varistors</li>
                    <li class="list-group-item"><strong class="pull-left">Dr. N. Vasudev, CPRI</strong>- Application of silicone rubber and testing for Polymer Surge
                    Arresters</li>
                  </ul>
                </article>
              </div>
              <div class="tab-pane fade in active" id="DayOne-2" ng-show="tabc.isSelected(2)">
                <article>
                  <p>
                    <h6>International Conference</h6>
                    <strong>The following major topics will be touched upon:</strong>
                    <ul class="list-group">
                      <li class="list-group-item">Technical and Design Aspects of Surge Arresters</li>
                      <li class="list-group-item">Selection and Application of Surge Arresters</li>
                      <li class="list-group-item">Performance Assessment - Case Studies and operational experiences</li>
                      <li class="list-group-item">Condition Assessment</li>
                      <li class="list-group-item">Transmission line Arresters</li>
                      <li class="list-group-item">Surge Arresters testing</li>
                      <li class="list-group-item">Surge Arresters for Distribution system</li>
                      <li class="list-group-item">Pollution performance and voltage distribution of arresters</li>
                      <li class="list-group-item">Installation and Commissioning including Earthing</li>
                      <li class="list-group-item">Short circuit testing and Evaluating test results</li>
                      <li class="list-group-item">HVDC Surge Arresters</li>
                      <li class="list-group-item">Latest developments in HV metal oxide varistor technology</li>
                    </ul>
                  </p>
                  <p>
                    Papers in the above mentioned areas are invited from the learned authors. The
                    main topics mentioned above are suggestive and not restrictive. Papers on subjects
                    related to the theme of the seminar will be encouraged.
                  </p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <div id="committee">&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="btn-wrapper">
      </div>
    </div>
  </section>
  <!-- End Schedule Section -->
  <!-- Speakers Section -->
  <section id="speakers" ng-app="CommitteeList" ng-controller="memberController">
    <div class="container text-center" ng-show="technical">
      <h3>TECHNICAL COMMITTEE</h3>
      <a href ng-click="change()"><h4>Show Organising Committee Members</h4></a>
      <ul class="timeline" ng-controller="tcMemberController">
        <li>
          <div class="timeline-panel animated hiding" data-delay="500" data-animation="fadeInLeft">
            <div class="timeline-heading">
              <h4>Mr. O. Balgangadhar</h4>
            </div>
            <div class="timeline-body">
              <p>
                <strong>Oblum</strong>
                <br/>Chairman, Technical Committee
              </p>
            </div>
          </div>
        </li>
        <li ng-repeat="(company,member) in tcmembers" ng-class="{'':$odd,'timeline-inverted': $even}">
          <div class="timeline-panel animated hiding" data-delay="500" ng-attr-data-animation="{{$odd && 'fadeInLeft' || 'fadeInRight'}}">
            <div class="timeline-heading">
              <h4>{{member}}</h4>
            </div>
            <div class="timeline-body">{{company}}</div>
          </div>
        </li>
        <!-- </div> -->
        <!-- </div> -->
      </ul>
    </div>
    <div class="container text-center" ng-hide="technical">
      <h3>ORGANISING COMMITTEE</h3>
      <a href ng-click="change()"><h4>Show Technical Committee Members</h4></a>
      <ul class="timeline" ng-controller="ocMemberController">
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading animated hiding" data-delay="500" data-animation="fadeInLeft">
              <h4>Mr. R.K.Tyagi</h4>
            </div>
            <div class="timeline-body">
              <p>
                <strong>Powergrid</strong>
                <br/>Chairman, Organising Committee
              </p>
            </div>
          </div>
        </li>
        <li ng-repeat="(company,member) in ocmembers" ng-class="{'':$odd,'timeline-inverted': $even}">
          <div class="timeline-panel animated hiding" data-delay="500" ng-attr-data-animation="{{$odd && 'fadeInLeft' || 'fadeInRight'}}">
            <div class="timeline-heading">
              <h4>{{member}}</h4>
            </div>
            <div class="timeline-body">{{company}}</div>
          </div>
        </li>
        <!-- </div> -->
        <!-- </div> -->
      </ul>
    </div>
  </section>
  <!-- End Speakers Section -->
  <!-- Price Section -->
  <section id="price" class="section dark">
    <div class="container">
      <div class="clearfix"></div>
      <!-- <div class="icon-wrap"><span class="icon icon-active icon-shopping-02"></span></div> -->
      <h3>Delegate Registration</h3>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">REGISTRATION FEES</div>
        <div class="panel-body">
          <p><i> *All fee is inclusive of service tax.</i></p>
        </div>
        <!-- Table -->
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th style="text-align:center;">Category</th>
                <th style="text-align:center;">Conference/Tutorial per delegate(ONE Day)</th>
                <th style="text-align:center;">Conference and Tutorials per delegate(TWO Days)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>IEEMA Members</td>
                <td>&#x20B9;5000</td>
                <td>&#x20B9;10000</td>
              </tr>
              <tr>
                <td>Non-IEEMA Members</td>
                <td>&#x20B9;6000</td>
                <td>&#x20B9;12000</td>
              </tr>
              <tr>
                <td>Utility/Discoms</td>
                <td>&#x20B9;4000</td>
                <td>&#x20B9;6000</td>
              </tr>
              <tr>
                <td>International</td>
                <td>$200 (USD)</td>
                <td>$300 (USD)</td>
              </tr>
              <tr>
                <td>Student</td>
                <td colspan="2">&#x20B9;2000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section id="sponsors" class="section dark">
    <div class="container">
      <!-- <div class="icon-wrap"><span class="icon icon-active icon-documents-bookmarks-12"></span></div> -->
      <h3>Sponsors</h3>
      <br/>
      <div class="row">
        <!-- <li><a href="http://www.bhel.com" target="_blank"><img src="/static/img/bhel.png" alt="sponsor-1" /></a></li> -->
        <br/>
        <h4 style="text-align:left;">Scope exists for organisations to be Co-host with following attendant benefits</h4>
        <br/>
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th style="text-align:center;"><h4>Category</h4></th>
                <th style="text-align:center;"><h4>Fee</h4></th>
                <th style="text-align:center;"><h4>Delegate(s) Free</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Platinum</strong></td>
                <td>&#x20B9;5,00,00</td>
                <td>10</td>
              </tr>
              <tr>
                <td><strong>Gold</strong></td>
                <td>&#x20B9;4,00,00</td>
                <td>8</td>
              </tr>
              <tr>
                <td><strong>Silver</strong></td>
                <td>&#x20B9;3,00,00</td>
                <td>6</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- End Price Section -->
  <!-- Map Section -->
  <section id="map" class="dark">
    <div id="canvas-map"></div>
    <div class="container">
      <div class="row" >
        <div class="col-md-5 col-sm-7 animated hiding location hidden-xs" data-animation="fadeInLeft" data-delay="0">
          <h3>Location</h3>
          <ul itemscope="" itemtype="http://schema.org/PostalAddress">
            <li itemprop="address"><i class="fa fa-map-marker highlight"></i>Hotel Le-Meridien, New delhi</li>
            <li itemprop="full address"><i class="fa fa-home highlight"></i> 8, Windsor Place, Janpath Road, Near India Gate, New Delhi, Delhi 110001</li>
            <li itemprop="telephone"><i class="fa fa-phone highlight"></i>011 2371 0101 </li>
            <li itemscope="" itemtype="http://schema.org/Event"><i class="fa fa-clock-o highlight"></i><time itemprop="startDate" datetime="2015-04-28T09:30">9:00</time> - <time itemprop="endDate" datetime="2015-04-29T18:00">18:00</time></li>
          </ul>
        </div>
        <div class="panel panel-default xs-location center-block visible-xs">
          <div class="panel-heading text-center"><strong>Venue</strong></div>
          <div class="panel-body">
            <ul itemscope="" class="list-group" itemtype="http://schema.org/PostalAddress">
              <li itemprop="address" class="list-group-item"><i class="fa fa-map-marker highlight"></i> Hotel Le-Meridien, New delhi</li>
              <li itemprop="full address" class="list-group-item"><i class="fa fa-home highlight"></i> 8, Windsor Place, Janpath Road, Near India Gate, New Delhi, Delhi 110001</li>
            <li itemprop="telephone" class="list-group-item"><i class="fa fa-phone highlight"></i>011 2371 0101 </li>
              <li itemscope="" itemtype="http://schema.org/Event" class="list-group-item"><i class="fa fa-clock-o highlight"></i> <time itemprop="startDate" datetime="2014-08-23T09:30">9:00</time> - <time itemprop="endDate" datetime="2014-08-23T18:00">18:00</time></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Map Section -->
  
  <section id="contact">
    <div class="container contact">
    <div class="row text-center ">
    <h4>CONTACT US</h4>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <p>
          <h4>Anita Gupta</h4>
        <br/>E: anita.gupta@ieema.org
        <br/>M: +91-9810540026
        <br/>P: + 91-11-23363013/14
        <br/>F : + 91-11-23363015
      </p>
      </div>
      <div class="col-md-6">
      <p>
        <h4>Vivek Arora</h4>
      <br/>E: vivek.arora@ieema.org
      <br/>M: + 91 8860353349
      <br/>P:+91-11-23363013/29
      <br/>F: +91-11- 23363015
    </p>
      </div>
    </div>
    </div>
  </section>
  <!-- <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div> -->
  
  <div class="footer-main">
    <div class="footer-text">
      Copyright IEEMA 2015-16.
    </div>
  </div>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js?ver=1"></script>
  <![endif]-->
  <!--[if (gte IE 9) | (!IE)]><!-->
  <!--<![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/jquery.appear.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints-sticky.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <!--  <script type="text/javascript" src="/static/mailchimp/js/mailing-list.js"></script>-->
  <script type="text/javascript" src="/static/js/lib/scripts.js"></script>
  <script type="text/javascript" src="/static/js/dist/appmain.min.js"></script>
</body>
</html>