<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>SURGEPROTECH 2016</title>
    <meta name="description" content="Surgeprotech 2016, organized by IEEMA">
    <meta name="keywords" content="">
    <meta property="og:title" content="Surgeprotech 2016 Official website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="IEEMA, Surgeprotech 2016, Surgeprotech, Conference"/>
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.jpg">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/font-lineicons.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/style.css" id="mainstyle" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/color-chooser.css" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/js/html5.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/js/lib/jquery-1.8.3.min.js"></script>
    <script>
    //Array of images which you want to show: Use path you want.
    jQuery(document).ready(
    function () {
    var images=new Array('surgeprotech.org/static/img/lamp.jpg','/static/img/attendees.jpg','surgeprotech.org/static/img/hero/hero1.jpg','surgeprotech.org/static/img/hero/hero2.jpg','surgeprotech.org/static/img/hero/hero3.jpg','surgeprotech.org/static/img/hero/hero4.jpg','surgeprotech.org/static/img/hero/hero5.jpg','surgeprotech.org/static/img/hero/hero6.jpg');
    var nextimage=1;
    doSlideshow();
    console.log($('#hero').css('background-image'));
    function doSlideshow(){
    if(nextimage >=images.length){
    nextimage=0;
    }
    $('#hero').css('background-image','url("'+images[nextimage]+'")')
    .fadeIn(5000, function() {
    setTimeout(doSlideshow,6000);
    });
    nextimage += 1;
    }
    }
    );
    </script>
  </head>
  <body id="index">
    <!-- Preloader -->
  <header id="mobileheader" class="navigation-bar-header light visible-xs"></header>
  <!-- Hero Section -->
  <section id="hero" class="light">
    <div class="overlay color"></div>
    <div class="container">
      <div class="home-bg">
        <div class="hero-content text-center ">
          <div class="hero-small">
            <hr/>  <span><span class="fa fa-calendar"></span>28,29<sup>th</sup> of April 2016<div class="sep"></div> <span class="fa fa-map-marker"></span>Le-Meridien, New Delhi</span> <hr/>
            <br>
            <br>
            <div class="hero-big">Surgeprotech</div>
            <div class="hero-normal">2nd International Conference cum Tutorials on Surge Arresters</div>
            <!-- <nav class="navigation navigation-social"> -->
            <ul class="navigation-bar" style="margin-top: -47px; margin-bottom: -21px;">
              <li><a href="#"><span class="fa fa-twitter"></span></a>
              <li><a href="#"><span class="fa fa-facebook"></span></a>
            </ul>
            <!-- </nav> -->
            <br/>
            <a href="/register" class="btn btn-lg btn-3d">Submit a paper</a>
            <a href="/download/brochure" class="btn btn-lg btn-3d">Download Brochure</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->
  <!-- Header -->
  <header id="header" class="navigation-bar-header light hidden-xs">
    <div class="container">
      <nav class="navigation">
        <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
        <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <ul class="navigation-bar navigation-bar-left">
          <li><a href="index.html#about">About</a></li>
          <!--<li><a href="#stat">Number Facts</a></li>-->
          <li><a href="index.html#schedule">Overview</a></li>
          <li><a href="index.html#speakers">Committee</a></li>
          <li><a href="index.html#price">Prices</a></li>
          <!-- <li><a href="index.html#elements">Shortcodes</a></li> -->
          <li><a href="index.html#sponsors">Sponsors</a></li>
          <li><a href="index.html#map">Contact Us</a></li>
          <li class="featured"><a href="index.html#price"><i class="fa fa-ticket fa-1x"></i>Delegate Registration</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header -->
  <!-- About Section -->
  <section id="about" class="section dark">
    <div class="container">
      <div class="icon-wrap"><!-- <span class="icon icon-active icon-multimedia-12"></span> --></div>
      <!-- <h3>Arresters for fail safe protection</h3> -->
      <div class="sub-title"></div>
      <br />
      <br />
      <section class="nav-tabs-simple">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
          <li><a href="index.html#php" data-toggle="tab">About IEEMA</a></li>
          <li class="active"><a href="index.html#jquery" data-toggle="tab">Theme</a></li>
          <li><a href="index.html#htmlcss" data-toggle="tab">Preamble</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade" id="htmlcss">
            <article class="row">
              <div class="col-md-4 col-sm-4 animated hiding" data-animation="fadeInLeft" data-delay="500">
                <img class="img-responsive" src="/static/img/390kVLA.jpg" alt="starbuck" />
              </div>
              <div class="col-md-8 col-sm-8 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                <p>
                  The Tutorials cum International Conference is being organised with the objective to benefit all stakeholders of the Power sector.
                This twin event will be of interest to participants from:</p>
                <ul>
                  <li>Utilities</li>
                  <li>   Testing Institutes</li>
                  <li> Manufacturers</li>
                  <li>   Utility Service Providers</li>
                  <li>Government bodies / Regulators </li>
                  <li>   Consultants </li>
                  <li>   Academic and Research Institutes</li>
                  <li>   Building Sector</li>
                  <li>   Industrial Sector</li>
                  <li>   Renewable Energy Equipment manufacturers/developers</li>
                  <li>   Captive Power generators</li>
                  <li>      Power Traders</li>
                </ul>
              </div>
            </article>
          </div>
          <div class="tab-pane fade in active" id="jquery">
            <article class="row">
              <div class="col-md-8 col-sm-8 text-left animated hiding" data-animation="fadeInLeft" data-delay="500">
                <h6>Arresters for fail safe protection</h6>
                <p>Surge Arrester -  The most critical equipment for safe &amp; reliable operation of Electrical Power System play an important role in limiting Transient over voltages, Switching &amp;lightning surges on Main Equipment like Transformers, Reactors &amp; Circuit Breakers etc. The Indian Surge Arrester Industry has designed, tested and successfully commissioned Polymer housed Surge Arresters upto 1200kV at National Test station, Bina(India).
                The 1st Conference was held in November 2012, with theme_____________. The Second Conference cum Tutorials is being organised to understand the latest technological developments in the field of Surge Arresters for the benefit of Power sector.</p>
              </div>
              <div class="col-md-4 col-sm-4 animated hiding" data-animation="fadeInRight" data-delay="500">
                <img class="img-responsive" src="/static/img/624KV.jpg" alt="placeholder" />
              </div>
            </article>
          </div>
          <div class="tab-pane fade" id="php">
            <article class="row">
              <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                <img class="img-responsive" src="/static/img/Logo_IEEMA.jpg" alt="iphone" />
              </div>
              <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                <h6>About IEEMA</h6>
                <p>Indian Electrical &amp; Electronics Manufacturers’ Association (IEEMA) is the apex industry association of manufacturers of electrical, industrial electronics and allied equipment in India. Founded in 1948, IEEMA has a pan India presence with offices in New Delhi, Mumbai, Kolkata and Bangalore.</p>
                <a href="http://ieema.org/Contents/WeAre/WeAre_AboutAssociation.aspx">Continue reading ></a>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
  </section>
  <!-- End About Section -->
  <!-- Stat Section -->
  <!-- End Stat Section -->
  <!-- Schedule Section -->
  <section id="schedule" class="section dark" ng-app="tabControls">
    
    <div class="container" ng-controller="tabController as tabc">
      <!-- <div class="icon-wrap"><span class="icon icon-active icon-text-hierarchy-07"></span></div> -->
      <h3>OVERVIEW</h3>
      <div class="sub-title">A brief overview of the two days.</div>
      <br />
      <br />
      <section class="nav-tabs-default">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="DayOne">
            <ul class="nav nav-tabs">
              <li class="active"  data-toggle="tab"><a href ng-click="tabc.setTab(1)">28th of April</a></li>
              <li data-toggle="tab"><a href ng-click="tabc.setTab(2)">29th of April</a></li>
            </ul>
            
            <div class="tab-content">
              <div class="tab-pane fade in active" id="DayOne-1" ng-show="tabc.isSelected(1)">
                <article>
                  <h6>Tutorials</h6>
                  Following key speakers will deliver the session in the tutorials:
                  
                  <ul class="list-group">
                    <li class="list-group-item">Prof.Dr. ING Volker Hinrichsen</li>
                    <li class="list-group-item">Prof.Bengt Johnnerfelt ,TE Energy</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Mr. O. Balagangadhar, Oblum</li>
                    <li class="list-group-item">Dr.N. Vasudev, CPRI</li>
                  </ul>
                </article>
              </div>
              <div class="tab-pane fade in active" id="DayOne-2" ng-show="tabc.isSelected(2)">
                <article><p>
                  <h6>International Conference</h6>
                  <strong>The following major topics will be touched upon:</strong>
                  <ul class="list-group">
                    <li class="list-group-item">Technical &amp; Design Aspects of Surge Arresters</li>
                    <li class="list-group-item">Selection &amp; Application of Surge Arresters</li>
                    <li class="list-group-item">Performance Assessment- Case Studies and operational experiences</li>
                    <li class="list-group-item">Condition Assessment</li>
                    <li class="list-group-item">Transmission line Arresters</li>
                    <li class="list-group-item"> Polymer Arresters</li>
                    <li class="list-group-item">Surge Arresters for Distribution system</li>
                    <li class="list-group-item">Testing</li>
                    <li class="list-group-item">Installation &amp; Commissioning including Earthing</li>
                  </ul>
                </p></article>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <div class="btn-wrapper">
      </div>
    </div>
  </section>
  <!-- End Schedule Section -->
  <!-- Speakers Section -->
  <section id="speakers" ng-app="CommitteeList" ng-controller="memberController">
    <div class="container text-center" ng-show="technical">
    <h5>Technical Committee</h5>
    <a href ng-click="change()"><h4>Show Organising Committee Members</h4></a>
      <ul class="timeline" ng-controller="tcMemberController">
            <li>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4>Mr. O. Balgangadhar</h4>
                    </div>
                    <div class="timeline-body">
                      <p>
                      <strong>Oblum</strong>
                      <br/>Chairman, Technical Committee
                      </p>
                    </div>
                </div>
            </li>

            <li ng-repeat="(company,member) in tcmembers" ng-class="{'':$odd,'timeline-inverted': $even}">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4>{{member}}</h4>
                    </div>
                    <div class="timeline-body">{{company}}</div>
                </div>
            </li>
          <!-- </div> -->
        <!-- </div> -->
      </ul>
    </div>
      <div class="container text-center" ng-hide="technical">
    <h5>Organising Committee</h5>
    <a href ng-click="change()"><h4>Show Technical Committee Members</h4></a>
      <ul class="timeline" ng-controller="ocMemberController">
            <li>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4>Mr. R.K.Tyagi</h4>
                    </div>
                    <div class="timeline-body">
                      <p>
                      <strong>Powergrid</strong>
                      <br/>Chairman, Organising Committee
                      </p>
                    </div>
                </div>
            </li>

            <li ng-repeat="(company,member) in ocmembers" ng-class="{'':$odd,'timeline-inverted': $even}">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4>{{member}}</h4>
                    </div>
                    <div class="timeline-body">{{company}}</div>
                </div>
            </li>
          <!-- </div> -->
        <!-- </div> -->
      </ul>
    </div>

  </section>
  <!-- End Speakers Section -->
  <!-- Price Section -->
  <section id="price" class="section dark">
    <div class="container">
      <!-- <div class="icon-wrap"><span class="icon icon-active icon-shopping-02"></span></div> -->
      <h3>Delegate Registration</h3>
      <div class="sub-title">The pricing categories are:</div>
      <br/>
      <br/>
      <div class="pricing-cols pricing-3-cols">
        <div class="pricing-col animated hiding" data-animation="fadeInLeft" data-delay="0">
          <div class="pricing-col-header">
            <h3 class="pricing-col-header-title">Utility Participation</h3>
            <!--                     <h4 class="pricing-col-header-amount">
            <span class="pricing-col-amount">$100</span></h4>
          -->                  </div>
          <div class="pricing-col-content">
            <ul>
              <li>Rs. 6,000/- (combined participation in Conference and Tutorials for two days)<br/><br/></li>
              <li>Rs. 4,000/-(participating in either Tutorial or Conference)<br/><br/></li>
              <li><br/><br/><br/></li>
            </ul>
          </div>
        </div>
        <div class="pricing-col animated hiding">
          <!-- <div class="pricing-col pricing-col-featured"> -->
          <!-- <div class="pricing-ribbon">-20%</div> -->
          <div class="pricing-col-header">
            <h3 class="pricing-col-header-title">Industry participation</h3>
            <!-- <h4 class="pricing-col-header-amount"><span class="pricing-col-amount">$150</span></h4> -->
          </div>
          <div class="pricing-col-content">
            <ul>
              <li>Rs. 10,000/- for IEEMA members (combined participation in Conference and Tutorials for two days)</li>
              <li>Rs. 12,000/-for Non IEEMA members (combined participation in Conference and Tutorials for two days)</li>
              <li>Rs. 6,000/- for IEEMA /Non IEEMA members (participating in either Tutorial or Conference)</li>
            </ul><!--
            <a class="pricing-col-button" href="https://docs.google.com/forms/d/1yg-sod1yCEnyCZL7lLkJuLTv6Njc06b_oNnccrN2S1g/viewform">Buy Now</a> -->
          </div>
        </div>
        <div class="pricing-col animated hiding" data-animation="fadeInLeft" data-delay="0">
          <div class="pricing-col-header">
            <h3 class="pricing-col-header-title">Student Participation</h3>
            <!-- <h4 class="pricing-col-header-amount"><span class="pricing-col-amount">$200</span></h4> -->
          </div>
          <div class="pricing-col-content">
            <ul>
              <li>Rs. 2,000/- for bonafied students (for two days)<br/><br/></li>
              <li><br/><br/><br/></li>
              <li><br/><br/><br/></li>
            </ul>
            <!-- <a class="pricing-col-button" href="https://docs.google.com/forms/d/1yg-sod1yCEnyCZL7lLkJuLTv6Njc06b_oNnccrN2S1g/viewform">Buy Now</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sponsors" class="section dark">
    <div class="container">
      <!-- <div class="icon-wrap"><span class="icon icon-active icon-documents-bookmarks-12"></span></div> -->
      <h3>Sponsors</h3>
      <br/>
      <div class="row">
        <!-- <li><a href="http://www.bhel.com" target="_blank"><img src="/static/img/bhel.png" alt="sponsor-1" /></a></li> -->
        <h6>Sponsorship Opportunities:</h6><br/><br/>
        <ul style="text-align:left; margin:0 auto;">
          <li>Platinum Sponsor  : Rs. 5,00,000/-</li>
          <li>Gold Sponsor    : Rs. 4,00,000/-</li>
          <li>Silver Sponsor    : Rs. 3,00,000/-</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Price Section -->
  <!-- Map Section -->
  <section id="map" class="dark">
    <div id="canvas-map"></div>
    <div class="container">
      <div class="row" >
        <div class="col-md-5 col-sm-7 animated hiding location hidden-xs" data-animation="fadeInLeft" data-delay="0">
          <h3>Location</h3>
          <ul itemscope="" itemtype="http://schema.org/PostalAddress">
            <li itemprop="address"><i class="fa fa-map-marker highlight"></i>Hotel Le-Meridien, New delhi</li>
            <li itemprop="email"><i class="fa fa-envelope highlight"></i>anita.gupta@ieema.org</li>
            <li itemprop="telephone"><i class="fa fa-phone highlight"></i>+91-11-23363013 / 14 (Board) </li>
            <li itemprop="telephone"><i class="fa fa-fax highlight"></i>+91-11-23363015</li>
            <li itemscope="" itemtype="http://schema.org/Event"><i class="fa fa-clock-o highlight"></i><time itemprop="startDate" datetime="2014-08-23T09:30">9:00</time> - <time itemprop="endDate" datetime="2014-08-23T18:00">18:00</time></li>
          </ul>
        </div>

        <div class="panel panel-default xs-location center-block visible-xs">
        <div class="panel-heading"><strong>Location &amp; Contact</strong></div>
          <div class="panel-body">
            <ul itemscope="" class="list-group" itemtype="http://schema.org/PostalAddress">
              <li itemprop="address" class="list-group-item"><i class="fa fa-map-marker highlight"></i> Hotel Le-Meridien, New delhi</li>
              <li itemprop="email" class="list-group-item"><i class="fa fa-envelope highlight"></i> anita.gupta@ieema.org</li>
              <li itemprop="telephone" class="list-group-item"><i class="fa fa-phone highlight"></i> +91-11-23363013 / 14 (Board) </li>
              <li itemprop="telephone" class="list-group-item"><i class="fa fa-fax highlight"></i> +91-11-23363015</li>
              <li itemscope="" itemtype="http://schema.org/Event" class="list-group-item"><i class="fa fa-clock-o highlight"></i> <time itemprop="startDate" datetime="2014-08-23T09:30">9:00</time> - <time itemprop="endDate" datetime="2014-08-23T18:00">18:00</time></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Map Section -->
  
  <!-- <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div> -->
  
  <div class="footer-main">
    <div class="footer-text">
      Copyright IEEMA 2015-16.
    </div>
  </div>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js?ver=1"></script>
  <![endif]-->
  <!--[if (gte IE 9) | (!IE)]><!-->
  <!--<![endif]-->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/jquery.nav.js"></script>
  <script type="text/javascript" src="/static/js/lib/jquery.appear.js"></script>
  <script type="text/javascript" src="/static/js/lib/waypoints.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/waypoints-sticky.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/jquery.fancybox.js"></script>
  <!--  <script type="text/javascript" src="/static/mailchimp/js/mailing-list.js"></script>-->
  <script type="text/javascript" src="/static/js/lib/scripts.js"></script>
  <script type="text/javascript" src="/static/js/lib/color-chooser.js"></script>
  <script type="text/javascript" src="/static/js/appmain.js"></script>
</body>
</html>