<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Surgeprotech 2016 | Delegate registration</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
		<noscript>
		<link rel="stylesheet" href="/static/css/skel.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/style-xlarge.css" />
		</noscript>
	</head>
	<body ng-app="delegateApp">
		<!-- Header -->
		<header id="header">
			<h1><strong><a href="/">SURGEPROTECH</a></strong></h1>
			<nav id="nav">
				<ul>
					<li><a href="/"><i class="fa fa-arrow-left"></i> Back to Home</a></li>
				</ul>
			</nav>
		</header>
		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="container">
				<header class="special">
					<h2>Tutorials</h2>
				</header>
			</div>
			
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<div class="container">
				<div class="table-wrapper">
					<table class="alt" style="text-align:center;">
						<thead>
							<tr>
								<th style="text-align:center;">Title</th>
								<th style="text-align:center;">Author</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Exploring the Arrester Jungle</td>
								<td>Bengt Johnnerfelt</td>
								<td><a href="/tutorial/Bengt">Download</a></td>
							</tr>
							<tr>
								<td>Application of silicone Rubber and testing for polymer surge arresters</td>
								<td>Dr. N. Vasudev</td>
								<td><a href="/tutorial/vasu">Download</a></td>
							</tr>
							<tr>
								<td>Tutorial on Metal Oxide Surge Arresters</td>
								<td>Volker Hinrichsen</td>
								<td><a href="/tutorial/volker">Download</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<div class="container">
				<header class="special">
					<h2>presentations</h2>
				</header>
			</div>

			<div class="container">
					<h3>Session 1</h3>
			</div>
			
			<div class="container">
				<div class="table-wrapper">
					<table class="alt" style="text-align:center;">
						<thead>
							<tr>
								<th style="text-align:center;">Title</th>
								<th style="text-align:center;">Author(s)</th>
								<th style="text-align:center;">Company</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Trends in Energy Varistors</td>
								<td>Tony Sun, Dr. Jason Wu, Manfred Holzer, SimCik Goh</td>
								<td>EPCOS</td>
								<td><a href="/presentation/epcos">Download</a></td>
							</tr>
							<tr>
								<td>STATE OF THE ART UNIVERSAL IMPULSE CURRENT TEST SYSTEMS</td>
								<td>Mr. Carl-Hendrik Stuckenholz, Mr. Michael Gamlin</td>
								<td>Haefley Hipotronics</td>
								<td><a href="/presentation/haefley">Download</a></td>
							</tr>
							<tr>
								<td>TECHNOLOGICAL DEVELOPMENTS IN SURGE ARRESTERS</td>
								<td>Mr. O. Balagangadhar</td>
								<td>Oblum</td>
								<td><a href="/presentation/oblum">Download</a></td>
							</tr>
							<tr>
								<td>Design, Selection and Application of Transmission Line Arresters</td>
								<td>Bengt Johnnerfelt, Jorge de Franco</td>
								<td>TE Connectivity</td>
								<td><a href="/presentation/teconn">Download</a></td>
							</tr>
							<tr>
								<td>Recent Trend of Metal Oxide Surge Arrester Technology</td>
								<td>H. Suzuki, Y. Kasuga, T. Anjiki, Y. Aka,
M. Mizutani, Y. Ishizaki, T. Fukano, H. Andoh

<b>Presenter</b>: I. Hioki
</td>
								<td>Toshiba</td>
								<td><a href="/presentation/Toshiba">Download</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="container">
					<h3>Session 2</h3>
			</div>
			
			<div class="container">
				<div class="table-wrapper">
					<table class="alt" style="text-align:center;">
						<thead>
							<tr>
								<th style="text-align:center;">Title</th>
								<th style="text-align:center;">Author(s)</th>
								<th style="text-align:center;">Company</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>FORENSIC ANALYSIS OF FAILED
SURGE ARRESTORS
</td>
								<td>Mr. Y.V. Joshi,
Ms. Rashmi Chaudhary,
Mr. Bhavin Kariya JE
</td>
								<td>GETCO</td>
								<td><a href="/presentation/getco">Download</a></td>
							</tr>
							<tr>
								<td>Insulation Co-ordination Studies and Selection of Surge Arrester in EHV/UHV Substations</td>
								<td>D. Maheswaran, K. K. Jembu Kailas, W. Adithya Kumar, Vijaylakshmi Padshetty</td>
								<td>L&amp;T</td>
								<td><a href="/presentation/LT">Download</a></td>
							</tr>
							<tr>
								<td>Failures of 624kV Class Surge Arrester in
POWERGRID network – A Case Study
</td>
								<td>P.N. Dixit, R.K. Tyagi, Rakesh Kumar, Jivesh Khanna
</td>
								<td>Powergrid Corporation of India Ltd.</td>
								<td><a href="/presentation/PGCIL1">Download</a></td>
							</tr>
							<tr>
								<td>Case Studies – Failure of NGR Surge Arrester in 765kV
Line Reactors
</td>
								<td>P.N. Dixit, R.K. Tyagi, Rakesh Kumar, Jivesh Khanna
</td>
								<td>Powergrid Corporation of India Ltd.</td>
								<td><a href="/presentation/PGCIL2">Download</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

				<div class="container">
					<h3>Session 3</h3>
			</div>

						<div class="container">
							<div class="table-wrapper">
								<table class="alt" style="text-align:center;">
									<thead>
										<tr>
											<th style="text-align:center;">Title</th>
											<th style="text-align:center;">Author(s)</th>
											<th style="text-align:center;">Company</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>DIGITAL DEVICE FOR ONLINE HEALTH MONITORING OF
ARRESTERS AND TRANSIENTS MONITORING ON NETWORK</td>
											<td>Sohan Kumar Dasale, Ganesh Baviskar, Nitin Jha, D John Yesuraj
			</td>
											<td>Crompton Greaves Ltd.</td>
											<td><a href="/presentation/cgl">Download</a></td>
										</tr>
										<tr>
											<td>"Case Study of Lightning Arrester Healthiness in
Coastal and Non Coastal Areas”
Trend Analysis of 3rd Harmonic Resistive Leakage Current
</td>
											<td>Tirtha S. Vishwakarma,
Nitin Chitte,
Anil S. Khopkar
</td>
											<td>High Voltage Laboratory
Electrical Research and Development Association ( ERDA),Vadodara
</td>
											<td><a href="/presentation/erda">Download</a></td>
										</tr>
										<tr>
											<td>Development of high energy absorption capability ZnO
MOV arrester blocks

			</td>
											<td>B. Rajaiah, R. Puyané


			</td>
											<td>LAMCO INDUSTRIES PRIVATE LTD.
</td>
											<td><a href="/presentation/lamco">Download</a></td>
										</tr>
										<tr>
											<td>The Application and Selection of
Surge Arresters
			</td>
											<td>Archana Tripathi, A.P. Gangadharan, D.K. Valecha

			</td>
											<td>Powergrid Corporation of India Ltd.</td>
											<td><a href="/presentation/pgcil">Download</a></td>
										</tr>
										<tr>
											<td>Surge Arrester Testing with Improved Safety</td>
											<td>Shivanand Daddi</td>
											<td>Scope T&amp;M Pvt. Ltd.</td>
											<td><a href="/presentation/scope">Download</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

			
		</section>
		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<div class="container 25%">
					<h2>Contact Us	</h2>
				</div>
				<div class="row">
					<div class="6u 6u$(small) -3u(small)">
						<p>
							<h4>Anita Gupta</h4>
							<br/>E: anita.gupta@ieema.org
							<br/>M: +91-9810540026
							<br/>P: + 91-11-23363013/14
							<br/>F : + 91-11-23363015
						</p>
					</div>
					<div class="6u 6u$(small) -3u(small)">
						<p>
							<h4>Vivek Arora</h4>
							<br/>E: vivek.arora@ieema.org
							<br/>M: + 91 8860353349
							<br/>P:+91-11-23363013/29
							<br/>F: +91-11- 23363015
						</p>
					</div>
				</div>
				<ul class="copyright">
					<li>&copy; IEEMA 2015-2016</li>
					<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				</ul>
			</div>
		</footer>

		<script type="text/javascript" src="/static/js/delegateapp.js"></script>
	</body>
</html>
