
      <div class="container" ng-controller="tabController as tabc">
        <div class="icon-wrap"><span class="icon icon-active icon-text-hierarchy-07"></span></div>
        <h3>AGENDA</h3>
        <div class="sub-title">A short schedule of the conference</div>
        <br />
        <br />
        <section class="nav-tabs-default hidden-xs">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="DayOne">
              <ul class="nav nav-tabs">
              <li class="active"  data-toggle="tab"><a href ng-click="tabc.setTab(1)">27th of August</a></li>
                <li data-toggle="tab"><a href ng-click="tabc.setTab(2)">28th of August</a></li>
              </ul>
              
              <div class="tab-content">
                <div class="tab-pane fade in active" id="DayOne-1" ng-show="tabc.isSelected(1)">
                <article>
                  Following key speakers will deliver the session in the tutorials:

                  1. Prof.Dr. ING Volker Hinrichsen
                  2. Prof.Bengt Johnnerfelt ,TE Energy
                  3. Mr. O. Balagangadhar, Oblum
                  4. Dr.N. Vasudev, CPRI
                </article>
                </div>
                <div class="tab-pane fade in active" id="DayOne-2" ng-show="tabc.isSelected(2)">
                <article><p>
                  The following major topics will be touched upon:

                  Technical &amp; Design Aspects of Surge Arresters 
                  Selection &amp; Application of Surge Arresters
                  Performance Assessment- Case Studies and operational experiences
                  Condition Assessment
                  Transmission line Arresters 
                  Polymer Arresters
                  Surge Arresters for Distribution system
                  Testing
                  Installation &amp; Commissioning including Earthing
                </p></article>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <div class="btn-wrapper">
        </div>
      </div>