<!-- Speakers Section -->
<section id="speakers" class="section light">
  <div class="overlay"></div>
  <div class="container " >
    <div class="col-md-6 col-sm-6 col-xs-6">
      <h5>Technical Committee Members</h5>
      <br />
      <br />
      <section class="row">
        <section class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="0">
              <div class="name"></div>
              <div class="sub"></div>
            </div>
          </div>
          <!-- <div class="col-md-2 col-sm-2 col-xs-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="0">
              <div class="name">Mr. O. Balagangadhar</div>
              <div class="sub">Oblum</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="0">
              <div class="name"></div>
              <div class="sub"></div>
            </div>
          </div>
        </section>
        <section class="row">
          <div class="clearfix visible-xs"></div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
              
              <div class="name">Mr. P.J.Thakkar</div>
              <div class="sub">REC</div>
            </div>
          </div>
          <div class="clearfix visible-xs"></div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
              
              <div class="name">Mr. Sanjay Kulshrestha</div>
              <div class="sub">REC</div>
            </div>
          </div>
          <div class="clearfix visible-xs"></div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
              
              <div class="name">Mr. Y.V.Joshi</div>
              <div class="sub">GETCO</div>
              <!-- <div class="social-link"> -->
              <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
              <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
              <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
              <!-- </div> -->
            </div>
          </div>
        </section>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
            
            <div class="name">Mr. S.K.Mahapatra</div>
            <div class="sub">CEA</div>
            <!-- <div class="social-link"> -->
            <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
            <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
            <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
            <!-- </div> -->
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
            
            <div class="name">Mr. Hirdesh Gupta</div>
            <div class="sub">NTPC</div>
            <!-- <div class="social-link"> -->
            <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
            <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
            <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
            <!-- </div> -->
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
            
            <div class="name">Mr. V.Sasikumar</div>
            <div class="sub">RAYCHEM</div>
            <!-- <div class="social-link"> -->
            <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
            <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
            <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
            <!-- </div> -->
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
            
            <div class="name">Mr. S. Sumanth</div>
            <div class="sub">KPTCL</div>
            <!-- <div class="social-link"> -->
            <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
            <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
            <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
            <!-- </div> -->
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <!-- <div class="col-md-2 col-sm-2 col-xs-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->
        <!-- <div class="col-md-3 col-sm-3 col-xs-6"> -->
        <!--   <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1500"> -->
        <!--     <div class="img-wrapper"> -->
        <!--       <img src="/static/img/speaker/speaker-4.jpg" class="img-responsive img-circle" alt="speaker-4" /> -->
        <!--     </div> -->
        <!--     <div class="name">Martin Branson</div> -->
        <!--     <div class="sub">CFO Doogle</div> -->
        <!--     <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
        <!--     <div class="social-link"> -->
        <!--       <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
        <!--       <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
        <!--       <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </div> -->
      </section>
      <section class="row">
        <section class="row">
          <div class="clearfix visible-xs"></div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
              
              <div class="name"></div>
              <div class="sub"></div>
              <!-- <div class="social-link"> -->
              <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
              <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
              <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
              <!-- </div> -->
            </div>
          </div>
          <div class="clearfix visible-xs"></div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
              
              <div class="name">Mr. A.P.Gangadharan</div>
              <div class="sub">POWERGRID</div>
              <!-- <div class="social-link"> -->
              <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
              <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
              <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
              <!-- </div> -->
            </div>
          </div>
          <div class="clearfix visible-xs"></div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
              
              <div class="name">Ms. Kanyakumari</div>
              <div class="sub">CPRI</div>
              <!-- <div class="social-link"> -->
              <!--   <a href="index.html#"><span class="fa fa-facebook"></span></a> -->
              <!--   <a href="index.html#"><span class="fa fa-twitter"></span></a> -->
              <!--   <a href="index.html#"><span class="fa fa-google-plus"></span></a> -->
              <!-- </div> -->
            </div>
          </div>
        </section>
      </section>
      <div class="sub-title"><strong></strong></div><br/>
      
    </div>
  </div>
</section>
<!-- End Speakers Section -->